body {
    color: black;
} 

body {
    background-color: peru;
} 

.container{
    width: 40%;
    background-color: aliceblue;
    height: 100px;
    margin: auto;
    border-radius: 3px;
}

form{
    padding: 10px;
    width: 90%;
    display: flex;
    flex-direction: column;
    margin: auto;
}

.caja{  
    height: 20px;
    margin-top: 2px;
    border-color: black;
    border-radius: 5px;

}
