body {
    color: black;
} 

body {
    background-color: peru;
} 

.caja{ 
    border-radius: 10%; 
    border-color: black;
    border-radius: 20%; 
}

.number{

    margin: 20px;
    width: 30px;
    height:30px;
    position: relative;
    
}
