{% extends './layout.html' %}


{% block body %} 
<h1>Ingrese cinco numeros</h1>


<rect /><input  class="number" type="number" required min="0" pattern="^[0-10]+" ></rect>
<rect /><input class="number" type="number" required min="0" pattern="^[0-10]+" ></rect>
<rect /><input class="number" type="number" required min="0" pattern="^[0-10]+" ></rect>
<rect /><input class="number" type="number" required min="0" pattern="^[0-10]+" ></rect>
<rect /><input class="number" type="number" required min="0" pattern="^[0-10]+" ></rect>

<input type="submit" value="Jugar" class="button">
<body>
    <button onclick="location.href='http://127.0.0.1:5000/'">Volver al inicio</button>
    </body>


{% endblock %}
