{% extends './layout.html' %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/style') }}">
{% endblock %}

{% block body %}

</head>  
<body>
 <form class="formulario">
    
    <h1>Registrate</h1>
     <div class="contenedor">
     
     <div class="input-contenedor">
         <i class="fas fa-user icon"></i>
         <input type="text" placeholder="Nombre Completo">
         
         </div>
         
         <div class="input-contenedor">
         <i class="fas fa-envelope icon"></i>
         <input type="text" placeholder="Correo Electronico">
         
         </div>
         
         <div class="input-contenedor">
        <i class="fas fa-key icon"></i>
         <input type="password" placeholder="Contraseña">
         
         </div>
         <input type="submit" value="Registrate" class="button">
         
         <form>
            <a href="http://127.0.0.1:5000/">
                <input type="button" value="Pagina Principal">
            </a>
        </form>

     </div>
    </form>
</body>

{% endblock %}